/* Mobile  */

@media (max-width:768px) {
    .navbar{
        flex-direction: column;
        height: 110px;
        padding: 20px;
    }
    .navbar a{
        padding: 10px 10px;
        margin: 0 3px;
    }
    .hero .content h1{
        font-size: 40px;
    }
    .flex-items{
        flex-direction: column;
    }
    .flex-columns .column{
        flex: 100%;
        max-width: 100%;
    }
    .flex-grid .row{
        flex-direction: column;
    }
    .flex-grid .row .column{
        margin-bottom: 10px;
    }
    .callback-form .form-controle{
        margin-bottom: 15px;
        width: 100%;
    } 
    
    
}